# DS 3000 - Practicum 2 

**Student Name**: Ava Toren, Chloe, Yuweng, Nicolo 

**Date**: March 1, 2025


### Submission Instructions
Submit this `ipynb` file to canvas.

The `ipynb` format stores outputs from the last time you ran the notebook.  (When you open a notebook it has the figures and outputs of the last time you ran it too).  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh run `Kernel > Restart & Run All` just before uploading the `ipynb` file to Canvas.

### Academic Integrity

**Writing your homework is an individual effort.**  You may discuss general python problems with other students but under no circumstances should you observe another student's code which was written for this assignment, from this year or past years.  Pop into office hours or DM us in MS Teams if you have a specific question about your work or if you would like another pair of eyes or talk through your code.

Don't forget to cite websites which helped you solve a problem in a unique way.  You can do this in markdown near the code or with a simple one-line comment. You do not need to cite the official python documentation.

**Documentation / style counts for credit**  Please refer to the Pep-8 style, to improve the readability and consistency of your Python code. For more information, read the following article [How to Write Beautiful Python Code With PEP 8](https://realpython.com/python-pep8/) or ask your TA's for tips.

**NOTE:<span style='color:red'> Write python expressions to answer ALL questions below and ensure that you use the `print()` function to display the output.</span>** Each question should be answered in a new code cell. For example, your solution for question 1.1 should be in a different code cell from your solution for question 1.2.

## Question 1: 
In your own words, formulate the Data Science problem that you were given.

Aircraft collisions with wildlife pose risks to aviation safety, causing damage, operational disruptions, and loss of life. This practicum analyzes the FAA Wildlife Strike Database (1990–2024) to identify trends, key contributing factors, and potential mitigation strategies. By performing data cleaning, exploratory analysis, and statistical testing, we aim to determine how factors like time of day, season, altitude, and aircraft type influence strike incidents. Additionally, we will assess trends over time, the impact of environmental changes, and species involvement. Insights from this analysis can help improve aviation safety and wildlife management policies.

## Question 2: Clean the data (10 pts)

Load the data using pandas and inspect it.

Perform the initial inspection of the data, its shape, types, etc.
Evaluate the dataset and perform at least three type of data preparation and justify the approach that is taken to prepare the data for analysis. Data prep can include, but is not limited to: handling missing values, data types, duplicates, etc. You will need to ensure that your data preparation addressed issues in at least 7 fields in the data.
Prepare meaningful* summary statistics for 3 continuous variables and 3 categorical variables.
Note: meaningful summary statistics explains the statistical summary of relevant fields in a coherent manner.

In [1]:
import pandas as pd 
dataframe = pd.read_csv('Bird_Strikes_1990_2023.csv', low_memory = False)
dataframe

,INDEX_NR,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,TIME,TIME_OF_DAY,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,...,SIZE,NR_INJURIES,NR_FATALITIES,COMMENTS,REPORTED_NAME,REPORTED_TITLE,SOURCE,PERSON,LUPDATE,TRANSFER
0,608242,6/22/1996,6,1996,NaN,NaN,KSMF,SACRAMENTO INTL,38.69542,-121.59077,...,Medium,NaN,NaN,/Legacy Record=100001/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False
1,608243,6/26/1996,6,1996,NaN,NaN,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,...,Medium,NaN,NaN,/Legacy Record=100002/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False
2,608244,7/1/1996,7,1996,NaN,NaN,KOMA,EPPLEY AIRFIELD,41.30252,-95.89417,...,Medium,NaN,NaN,/Legacy Record=100003/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False
3,608245,7/1/1996,7,1996,NaN,NaN,KIAD,WASHINGTON DULLES INTL ARPT,38.94453,-77.45581,...,Medium,NaN,NaN,/Legacy Record=100004/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False
4,608246,7/1/1996,7,1996,NaN,NaN,KLGA,LA GUARDIA ARPT,40.77724,-73.87261,...,Medium,NaN,NaN,/Legacy Record=100005/,REDACTED,REDACTED,Air Transport Report,Air Transport Operations,12/20/2007,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288805,1472253,8/28/2023,8,2023,21:50,NaN,ZZZZ,UNKNOWN,NaN,NaN,...,Small,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,11/17/2023,False
288806,1472256,8/28/2023,8,2023,20:40,NaN,ZZZZ,UNKNOWN,NaN,NaN,...,Small,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,11/17/2023,False
288807,1472257,8/28/2023,8,2023,07:14,Dusk,KDTW,DETROIT METRO WAYNE COUNTY ARPT,42.21206,-83.34884,...,Small,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,11/17/2023,False
288808,1472258,8/28/2023,8,2023,09:00,Day,KPIH,POCATELLO REGIONAL ARPT,42.91131,-112.59586,...,Medium,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,11/17/2023,False
288809,1472259,8/28/2023,8,2023,10:15,NaN,KAMA,RICK HUSBAND AMARILLO INTL,35.21937,-101.70593,...,Small,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Carcass Found,11/17/2023,False

In [2]:
# Specify the columns you want to keep
columns_to_keep = ['INCIDENT_DATE','INCIDENT_MONTH', 'INCIDENT_YEAR','AIRPORT_ID', 'AIRPORT', 'LATITUDE', 'LONGITUDE', 'STATE','FAAREGION', 'HEIGHT','SPEED', 'PHASE_OF_FLIGHT', 'NR_INJURIES']

# Create a new DataFrame with only the selected columns
dataframe = dataframe[columns_to_keep]
dataframe

,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,STATE,FAAREGION,HEIGHT,SPEED,PHASE_OF_FLIGHT,NR_INJURIES
0,6/22/1996,6,1996,KSMF,SACRAMENTO INTL,38.69542,-121.59077,CA,AWP,0.0,NaN,Take-off Run,NaN
1,6/26/1996,6,1996,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,CO,ANM,0.0,NaN,Take-off Run,NaN
2,7/1/1996,7,1996,KOMA,EPPLEY AIRFIELD,41.30252,-95.89417,NE,ACE,0.0,NaN,Take-off Run,NaN
3,7/1/1996,7,1996,KIAD,WASHINGTON DULLES INTL ARPT,38.94453,-77.45581,DC,AEA,1000.0,NaN,Approach,NaN
4,7/1/1996,7,1996,KLGA,LA GUARDIA ARPT,40.77724,-73.87261,NY,AEA,5000.0,NaN,Climb,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
288805,8/28/2023,8,2023,ZZZZ,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288806,8/28/2023,8,2023,ZZZZ,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288807,8/28/2023,8,2023,KDTW,DETROIT METRO WAYNE COUNTY ARPT,42.21206,-83.34884,MI,AGL,NaN,NaN,Approach,NaN
288808,8/28/2023,8,2023,KPIH,POCATELLO REGIONAL ARPT,42.91131,-112.59586,ID,ANM,0.0,NaN,Take-off Run,NaN
288809,8/28/2023,8,2023,KAMA,RICK HUSBAND AMARILLO INTL,35.21937,-101.70593,TX,ASW,NaN,NaN,NaN,NaN

In [3]:
print("Shape of the dateset:", dataframe.shape)
print("\nColumn Data Types:\n", dataframe.dtypes)
print("\nMissing Values:\n", dataframe.isnull().sum())
print("\nSummary Statistics:\n", dataframe.describe(include="all"))

Shape of the dateset: (288810, 13)

Column Data Types:
 INCIDENT_DATE       object
INCIDENT_MONTH       int64
INCIDENT_YEAR        int64
AIRPORT_ID          object
AIRPORT             object
LATITUDE           float64
LONGITUDE          float64
STATE               object
FAAREGION           object
HEIGHT             float64
SPEED              float64
PHASE_OF_FLIGHT     object
NR_INJURIES        float64
dtype: object

Missing Values:
 INCIDENT_DATE           0
INCIDENT_MONTH          0
INCIDENT_YEAR           0
AIRPORT_ID              6
AIRPORT                 0
LATITUDE            35501
LONGITUDE           35502
STATE               35501
FAAREGION           35501
HEIGHT             140003
SPEED              194573
PHASE_OF_FLIGHT    110967
NR_INJURIES        288534
dtype: int64

Summary Statistics:
        INCIDENT_DATE  INCIDENT_MONTH  INCIDENT_YEAR AIRPORT_ID  AIRPORT  \
count         288810   288810.000000  288810.000000     288804   288810
unique         12274             NaN            NaN       2609     2615
top       10/12/2018             NaN            NaN       ZZZZ  UNKNOWN
freq             140             NaN            NaN      35418    35418
mean             NaN        7.175974    2011.697798        NaN      NaN
std              NaN        2.765082       8.432311        NaN      NaN
min              NaN        1.000000    1990.000000        NaN      NaN
25%              NaN        5.000000    2006.000000        NaN      NaN
50%              NaN        7.000000    2014.000000        NaN      NaN
75%              NaN        9.000000    2019.000000        NaN      NaN
max              NaN       12.000000    2023.000000        NaN      NaN

            LATITUDE      LONGITUDE   STATE FAAREGION         HEIGHT  \
count   2.533090e+05  253308.000000  253309    253309  148807.000000
unique           NaN            NaN      67        10            NaN
top              NaN            NaN      TX       ASO            NaN
freq             NaN            NaN   24794     53932            NaN
mean    2.012754e+02     -90.880247     NaN       NaN     865.960358
std     8.177522e+04     327.243918     NaN       NaN    1843.098801
min    -3.767333e+01    -177.381000     NaN       NaN       0.000000
25%     3.298764e+01     -98.469780     NaN       NaN       0.000000
50%     3.880581e+01     -87.904460     NaN       NaN      50.000000
75%     4.085010e+01     -80.417940     NaN       NaN     900.000000
max     4.115443e+07  164140.000000     NaN       NaN   31300.000000

               SPEED PHASE_OF_FLIGHT  NR_INJURIES
count   94237.000000          177843   276.000000
unique           NaN              11          NaN
top              NaN        Approach          NaN
freq             NaN           75224          NaN
mean      142.585057             NaN     1.293478
std        46.650050             NaN     0.756134
min         0.000000             NaN     1.000000
25%       120.000000             NaN     1.000000
50%       140.000000             NaN     1.000000
75%       160.000000             NaN     1.000000
max      1250.000000             NaN     7.000000

In [4]:
#convert datatypes 
dataframe['INCIDENT_DATE'] = pd.to_datetime(dataframe['INCIDENT_DATE'])
dataframe

/var/folders/r6/_pd2_bzn5_3bfz0cdsk6xc5h0000gn/T/ipykernel_52094/3874337037.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['INCIDENT_DATE'] = pd.to_datetime(dataframe['INCIDENT_DATE'])

,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,STATE,FAAREGION,HEIGHT,SPEED,PHASE_OF_FLIGHT,NR_INJURIES
0,1996-06-22,6,1996,KSMF,SACRAMENTO INTL,38.69542,-121.59077,CA,AWP,0.0,NaN,Take-off Run,NaN
1,1996-06-26,6,1996,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,CO,ANM,0.0,NaN,Take-off Run,NaN
2,1996-07-01,7,1996,KOMA,EPPLEY AIRFIELD,41.30252,-95.89417,NE,ACE,0.0,NaN,Take-off Run,NaN
3,1996-07-01,7,1996,KIAD,WASHINGTON DULLES INTL ARPT,38.94453,-77.45581,DC,AEA,1000.0,NaN,Approach,NaN
4,1996-07-01,7,1996,KLGA,LA GUARDIA ARPT,40.77724,-73.87261,NY,AEA,5000.0,NaN,Climb,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
288805,2023-08-28,8,2023,ZZZZ,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288806,2023-08-28,8,2023,ZZZZ,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288807,2023-08-28,8,2023,KDTW,DETROIT METRO WAYNE COUNTY ARPT,42.21206,-83.34884,MI,AGL,NaN,NaN,Approach,NaN
288808,2023-08-28,8,2023,KPIH,POCATELLO REGIONAL ARPT,42.91131,-112.59586,ID,ANM,0.0,NaN,Take-off Run,NaN
288809,2023-08-28,8,2023,KAMA,RICK HUSBAND AMARILLO INTL,35.21937,-101.70593,TX,ASW,NaN,NaN,NaN,NaN

In [5]:
#drop airports that are unkown 
dataframe = dataframe[dataframe['AIRPORT'] != 'UNKNOWN']
dataframe

,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,STATE,FAAREGION,HEIGHT,SPEED,PHASE_OF_FLIGHT,NR_INJURIES
0,1996-06-22,6,1996,KSMF,SACRAMENTO INTL,38.69542,-121.59077,CA,AWP,0.0,NaN,Take-off Run,NaN
1,1996-06-26,6,1996,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,CO,ANM,0.0,NaN,Take-off Run,NaN
2,1996-07-01,7,1996,KOMA,EPPLEY AIRFIELD,41.30252,-95.89417,NE,ACE,0.0,NaN,Take-off Run,NaN
3,1996-07-01,7,1996,KIAD,WASHINGTON DULLES INTL ARPT,38.94453,-77.45581,DC,AEA,1000.0,NaN,Approach,NaN
4,1996-07-01,7,1996,KLGA,LA GUARDIA ARPT,40.77724,-73.87261,NY,AEA,5000.0,NaN,Climb,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
288803,2023-08-28,8,2023,KBNA,NASHVILLE INTL,36.12448,-86.67818,TN,ASO,NaN,NaN,NaN,NaN
288804,2023-08-28,8,2023,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,CO,ANM,1000.0,170.0,Climb,NaN
288807,2023-08-28,8,2023,KDTW,DETROIT METRO WAYNE COUNTY ARPT,42.21206,-83.34884,MI,AGL,NaN,NaN,Approach,NaN
288808,2023-08-28,8,2023,KPIH,POCATELLO REGIONAL ARPT,42.91131,-112.59586,ID,ANM,0.0,NaN,Take-off Run,NaN
288809,2023-08-28,8,2023,KAMA,RICK HUSBAND AMARILLO INTL,35.21937,-101.70593,TX,ASW,NaN,NaN,NaN,NaN

In [6]:
dataframe = dataframe[(dataframe['LATITUDE'] <= 90) & (dataframe['LATITUDE'] >= -90)]
dataframe

,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,STATE,FAAREGION,HEIGHT,SPEED,PHASE_OF_FLIGHT,NR_INJURIES
0,1996-06-22,6,1996,KSMF,SACRAMENTO INTL,38.69542,-121.59077,CA,AWP,0.0,NaN,Take-off Run,NaN
1,1996-06-26,6,1996,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,CO,ANM,0.0,NaN,Take-off Run,NaN
2,1996-07-01,7,1996,KOMA,EPPLEY AIRFIELD,41.30252,-95.89417,NE,ACE,0.0,NaN,Take-off Run,NaN
3,1996-07-01,7,1996,KIAD,WASHINGTON DULLES INTL ARPT,38.94453,-77.45581,DC,AEA,1000.0,NaN,Approach,NaN
4,1996-07-01,7,1996,KLGA,LA GUARDIA ARPT,40.77724,-73.87261,NY,AEA,5000.0,NaN,Climb,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
288803,2023-08-28,8,2023,KBNA,NASHVILLE INTL,36.12448,-86.67818,TN,ASO,NaN,NaN,NaN,NaN
288804,2023-08-28,8,2023,KDEN,DENVER INTL AIRPORT,39.85841,-104.66700,CO,ANM,1000.0,170.0,Climb,NaN
288807,2023-08-28,8,2023,KDTW,DETROIT METRO WAYNE COUNTY ARPT,42.21206,-83.34884,MI,AGL,NaN,NaN,Approach,NaN
288808,2023-08-28,8,2023,KPIH,POCATELLO REGIONAL ARPT,42.91131,-112.59586,ID,ANM,0.0,NaN,Take-off Run,NaN
288809,2023-08-28,8,2023,KAMA,RICK HUSBAND AMARILLO INTL,35.21937,-101.70593,TX,ASW,NaN,NaN,NaN,NaN

In [7]:
print("\nMissing Values:\n", dataframe.isnull().sum())
print("\nSummary Statistics:\n", dataframe.describe(include="all"))

Missing Values:
 INCIDENT_DATE           0
INCIDENT_MONTH          0
INCIDENT_YEAR           0
AIRPORT_ID              0
AIRPORT                 0
LATITUDE                0
LONGITUDE               0
STATE                   0
FAAREGION               0
HEIGHT             109390
SPEED              163346
PHASE_OF_FLIGHT     81417
NR_INJURIES        253168
dtype: int64

Summary Statistics:
                         INCIDENT_DATE  INCIDENT_MONTH  INCIDENT_YEAR  \
count                          253307   253307.000000  253307.000000
unique                            NaN             NaN            NaN
top                               NaN             NaN            NaN
freq                              NaN             NaN            NaN
mean    2012-02-19 18:19:47.242358016        7.153194    2011.584327
min               1990-01-02 00:00:00        1.000000    1990.000000
25%               2006-07-27 00:00:00        5.000000    2006.000000
50%               2013-11-06 00:00:00        7.000000    2013.000000
75%               2019-01-01 00:00:00        9.000000    2019.000000
max               2023-11-14 00:00:00       12.000000    2023.000000
std                               NaN        2.759517       8.479462

       AIRPORT_ID              AIRPORT       LATITUDE      LONGITUDE   STATE  \
count      253307               253307  253307.000000  253307.000000  253307
unique       2603                 2603            NaN            NaN      67
top          KDEN  DENVER INTL AIRPORT            NaN            NaN      TX
freq         9620                 9620            NaN            NaN   24794
mean          NaN                  NaN      36.870459     -91.528594     NaN
min           NaN                  NaN     -37.673333    -177.381000     NaN
25%           NaN                  NaN      32.987640     -98.469780     NaN
50%           NaN                  NaN      38.805810     -87.904460     NaN
75%           NaN                  NaN      40.850100     -80.417940     NaN
max           NaN                  NaN      71.285450     178.559228     NaN
std           NaN                  NaN       6.820964      24.688770     NaN

       FAAREGION         HEIGHT         SPEED PHASE_OF_FLIGHT  NR_INJURIES
count     253307  143917.000000  89961.000000          171890   139.000000
unique        10            NaN           NaN              10          NaN
top          ASO            NaN           NaN        Approach          NaN
freq       53932            NaN           NaN           74989          NaN
mean         NaN     821.706379    143.280188             NaN     1.381295
min          NaN       0.000000      0.000000             NaN     1.000000
25%          NaN       0.000000    120.000000             NaN     1.000000
50%          NaN      25.000000    140.000000             NaN     1.000000
75%          NaN     700.000000    160.000000             NaN     2.000000
max          NaN   29000.000000   1250.000000             NaN     7.000000
std          NaN    1795.101183     46.684583             NaN     0.919953

Continues Variables: 
1. The geographic latitude of the strike can take on a range of values between -90 and 90. The average latitude of 36.87 shows that most strikes occur in the continental US, aligning with popular airport locations. The max value of 71.29 suggests Northern regions like Alaska.
2. The geographic longitude of the strike can take on a range of values between -180 and 180. The mean of -91.53 shows incidents occur in the Western Hemisphere. The standard deviation of 24.69 suggests a larger spread of areas throughout the US.
3. The aircraft speed did not have a large variation of speeds as the standard deviation was about 46.68 knots. It had an average speed of 143.28 knots, so most aircrafts were traveling around that speed. It had a max speed of 1250 knots, which is extremely high and would be considered an outlier.

Categorical Variables 
1. The most popular state was Texas with 24794 incidents. Texas is a very large geographic area with many airports and flight opertions. Texas also has a more diverse wildlife population, which could be why they have so many strikes. 
2. The most popular phase of flight is approach. The approach phase is when the aircraft is about to land at the airport. This makes sense because the aircraft is at lower altitudes where wildlife like birds are. This is also when aircrafts are close to airports, which tends to have more wildlife like birds. 
3. The most popular airport for wildlife strikes is Denver International Airport. This could be because Denver is one of the busiest airports in the US, so it naturally has more aircrafts. Denver is also located to a lot of wildlife habitats. Deneve

## Question 3: Perform Exploratory Data Analysis (40 pts)

Perform an in-depth analysis by creating visualizations to understand the distribution and relationships within the data, while ensuring that your analysis and explanation of the results tell a story. It's important to select appropriate visualizations based on the type of data. Explain all results.

Analyze the proportion of incidents that occur each year.
Evaluate the distribution of bird strikes in each state and display the top 20 states.
What is the most common bird species that are involved in bird strikes.
Perform a comparative analysis of the annual aircraft damage for each phase of flight. Evaluate the results over the last 10 years to determine what patterns exist. Note: this requires a year over year analysis.
Analyze the frequency of bird strike incidents that occur on a monthly basis over the last 10 years. Analyze the results to determine when these incidents are more prevalent.  This question requires you to drill deeper into the analysis to determine if the distribution has changed over the last 10 years. Note: this requires a year over year analysis.
Perform ONE (1) additional analysis on the distribution. Ensure that you either : 1) perform a comparative analysis by evaluating 3 or more groups within the data or 2) perform a temporal analysis of the patterns over 10 or more years (this requires a year over year analysis of the patterns). Do not repeat any of the previous analysis.

## Question 4: — Hypothesis Testing (30 points)

Perform pairwise analysis of select features and evaluate the significance of the pattern or trend. A suitable value for alpha is 5%. Explain all results.

Create a scatterplot that shows the relationship between aircraft height and speed. Evaluate the correlation, the strength and the significance of the results.
Visualize the distribution of the aircraft speed during: 1) the approach phase of flight and 2) the landing roll phase of flight. Perform a 2 sample t-test and evaluate if there is a statistical difference between the speed during these two flight phases. Tip: if the data is skewed, you will need to address this prior to the statistical analysis.
Create a visualization of the aircraft damage grouped by phase of flight.
Evaluate if the results are statistically significant. Ensure that you use the appropriate test.
Perform ONE (1) additional statistical test.
Explain what you are testing and the reason this information is useful.
Visualize the data, state the hypothesis and explain if it is statistically significant.

## Question 5 — Statistical Modeling (20 points)

Explore a simple linear relationship* within the data and create a model to predict the occurrence of bird strikes in a given FAA region. Ensure that you explain all results.

Extract all data for the AWP FAA Region and use a line chart to visualize the frequency of incidents between 1990 and 2015 inclusive.
Using the extracted data above, create a simple linear regression model and predicts the incidents for 2016 and 2017.
Display the r-squared and what this indicates about your model's ability to fit the data.
Visualize the dataset from (1) and include the predicted results for 2016 and 2017.
Compare and contrast the predictions for 2016 and 2017 with the actual values.
Perform predictions for 2018 through to 2020. Explain what transpired when your model was used to predict this time period. Comment on the reliability of your model.
*Tip: It is important to remember that you are creating a simple linear regression model, which is limited in features and does not include information about all factors that influence the frequency of bird strikes. Keep this in mind while framing your response and explanations.

## Question 6 — Summary

Summarize the overall analysis for questions 1 through 5 and share THREE (3) key findings.

## Question 7 — OPTIONAL (10 points)

This optional bonus question requires that you perform a geospatial analysis on bird strikes and visualize the results using a map. Examples include (but you are not limited to):

Mapping bird strike incidents: visualize the locations of bird strike incidents to identify hot spots or patterns
Heat maps: create heat maps to show the density of bird strike incidents in different areas.
Proximity Analysis: analyze the proximity of bird strikes to airports or landmarks
etc
Ensure that you clearly indicate the analysis that you are performing and provide detailed steps to explain ALL findings from your analysis.

Note: a thorough analysis that demonstrates multiple patterns is required to earn full credit for this question.

In [2]:
#Write your python code to answer question 2. You can add new cells below as needed.

## Helpful resources 
Don't forget to cite websites which helped you solve a problem in a unique way.  You can do this in markdown near the code or with a simple one-line comment inside the code cell, or you can list them below. 

You do not need to cite the official python documentation.